.main-container {
    display: flex; /* Use Flexbox */
    height: 100vh; /* Full view height */
    width: 100vw;
}
  
.left-side, .right-side {
    width: 50%; /* Divide width equally */
    height: 100vh; /* Full view height */
    overflow: hidden; /* Prevents overflow */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.right-side {
    overflow-y: auto; /* Enables vertical scrolling */
}